@mixin title {
    font-size: 35px;
    line-height: 45.5px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    color: #545454;
    font-weight: 400;
}

@mixin listing_flex($pr: none) {
    display: flex;
    justify-content: $pr;
    align-items: center;
}

@mixin btn {
    @include listing_flex(center);
    padding: 15px 45px;
    background-color: #F1CDB3;
    color: black;
    a {
        font-size: 17px;
        line-height: 22px;
    }
    border-radius: 100px;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.our__friends {
    width: 100%;
    height: fit-content;
    background-color: #F6F6F6;
}

.slider__title__cont {
    display: flex;
    justify-content: center;
    h3 {
        @include title;
        text-align: center;
        width: 400px;
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__line {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 970px;
    left: 0;
}

.slider__line__item {
    transition: all 0.7s ease-in;
    position: relative;
    width: auto;
    display: flex;
    left: 0;
    gap: 80px;
    z-index: 1;
}

.card {
    cursor: pointer;
    display: flex;
    background: gray;
    flex-direction: column;
    width: 270px;
    height: fit-content;
    align-items: center;
    animation: append-animate .7s linear;
}

.card:hover {
    transition: all 0.2s linear;
    background-color: white;
    .card__btn__content {
        transition: all 0.2s linear;
        background-color: #F1CDB3;
        color: black;
    }
}

.petname {
    color: #545454;
    line-height: 22px;
    font-size: 20px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    text-align: center;
    animation: append-animate .7s linear;
    padding: 30px 0px;
}

.card__btn__content {
    animation: append-animate .7s linear;
    border-radius: 50px;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 0.06em;
    font-size: 17px;
    line-height: 22px;
    background-color: transparent;
    border: 1px solid #F1CDB3;
    margin-bottom: 30px;
    cursor: pointer;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.main__catalog {
    padding-top: 40px;
    display: grid;
    justify-items: center;
    grid-row-gap: 60px;
    height: fit-content;
}

.card {
    justify-content: flex-end;
}

.active {
    border: 1px solid #F1CDB3;
    color: black;
}

.current__page {
    background-color: #F1CDB3;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: fit-content;
    align-items: center;
    background-color: white;
}

.slider__btn {
    cursor: pointer;
    max-width: 52px;
    max-height: 52px;
    min-width: 52px;
    min-height: 52px;
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid #F1CDB3;
    justify-content: center;
    align-items: center;
}

.slider__btn__forw {
    transform: rotate(180deg)
}

.slider__btn__forw:hover {
    transition: all 0.4s linear;
    transform: rotate(360deg)
}

.slider__btn:hover {
    background-color: #F1CDB3;
    img {
        transform: rotate(360deg);
    }
    transition: all 0.5s linear;
}

.more__btn__container {
    padding-top: 75px;
    padding-bottom: 115px;
    @include listing_flex(center);
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid rgba(241, 205, 179, 1);
        width: 271px;
        height: 51px;
        color: black;
        font-size: 17px;
        font-family: 'Georgia';
        line-height: 22px;
        border-radius: 20px;
    }
    a:hover {
        background: rgba(241, 205, 179, 1)
    }
}

.buttons__set {
    display: none;
}

.card__2 {}

@media screen and(max-width:1275px) {
    .slider__line__item {
        gap: 60px;
    }
    .slider__line {
        width: calc(270px*3 + 60px*2);
    }
}

@media screen and(max-width:1177px) {
    .slider__line {
        width: calc(270px*2 + 60px);
        overflow: hidden;
    }
    .slider__line__item {
        gap: 60px;
    }
    .slider {
        padding-top: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card:last-child {
        display: none;
    }
    .card {
        margin: 0;
    }
    .slider__btn {
        margin: 0;
        margin-right: 10px;
    }
    .slider__btn__2 {
        margin-left: 10px;
        margin-right: 0;
        img {
            transform: rotate(180deg);
        }
    }
}

@media screen and(max-width:850px) {
    .wrapper {
        padding: 0 30px;
    }
    .card {
        width: 240px;
        img {
            width: 240px;
        }
    }
    .slider {
        justify-content: center;
    }
    .slider__line__item {
        gap: 40px;
        justify-content: center;
    }
    .slider__line {
        width: calc(40px + 240px *2);
    }
}

@media screen and(max-width:725px) {
    .slider__btn {
        display: none;
    }
    .buttons__set {
        display: flex;
        justify-content: space-around;
        .slider__btn__phone {
            img {
                width: 15px;
                height: 8px;
            }
            border-radius: 100%;
            border: 1px #F1CDB3 solid;
            @include listing_flex(center);
            cursor: pointer;
        }
        .slider__btn__phone__2 {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    .friends__btn__container {
        width: 260px;
        display: flex;
        justify-content: center;
        div {
            @include btn();
            background-color: #F1CDB3;
            margin-top: 60px;
            padding: 15px 30px;
        }
    }
    .buttons__set {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        a {
            display: inline-flex;
        }
        img {
            width: 20px;
            height: 9px;
        }
        .slider__btn__2 {
            img {
                transform: rotate(180deg);
            }
        }
    }
    .slider {
        flex-direction: column;
    }
}

@media screen and(max-width:607px) {
    .card:nth-child(2) {
        display: none;
    }
    .slider__btn {
        display: none;
    }
    .buttons__set {
        display: flex;
        justify-content: space-around;
        .slider__btn__phone {
            img {
                width: 15px;
                height: 8px;
            }
            border-radius: 100%;
            border: 1px #F1CDB3 solid;
            @include listing_flex(center);
            cursor: pointer;
        }
        .slider__btn__phone__2 {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    .friends__btn__container {
        width: 260px;
        display: flex;
        justify-content: center;
        div {
            @include btn();
            background-color: #F1CDB3;
            margin-top: 60px;
            padding: 15px 30px;
        }
    }
    .buttons__set {
        display: flex;
        justify-content: space-between;
        a {
            display: inline-flex;
        }
        img {
            width: 20px;
            height: 9px;
        }
    }
    .slider {
        flex-direction: column;
    }
}