            $tablet: 768px;
            $phone:419px;
            .body {
                padding: 0;
                margin: 0;
                width: 100%;
                box-sizing: content-box;
            }
            
            .body.ban {
                overflow: hidden;
            }
            /*burger__menu*/
            
            .popup__burger__menu {
                position: fixed;
                height: 100%;
                width: 95%;
                right: -100%;
                background-color: #292929;
                z-index: 50;
                transition: 0.5s;
                overflow: hidden;
            }
            
            @media screen and(max-width:388px) {
                .popup__burger__menu {
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    right: -100%;
                }
            }
            
            .header__navbar__popup {
                padding-top: 50px;
                margin-top: 50px;
                li {
                    text-align: center;
                    margin-top: 40px;
                    font-size: 32px;
                    line-height: 52px;
                    font-family: 'Arial';
                    color: #CDCDCD;
                }
            }
            
            .popup__burger__menu.active {
                right: 0%;
            }
            
            .navbar__item {}
            
            .item__link {}
            
            .item__link__active {
                text-decoration: underline;
            }
            
            .menu__burger {
                display: none;
                z-index: 1000;
            }
            
            /////
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            
            a {
                color: white;
                text-decoration: none;
                font-family: 'Georgia';
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: bold;
                font-family: inherit;
            }
            
            ul {
                list-style-type: none;
            }
            
            .wrapper {
                margin: 0 auto;
                padding: 0 40px;
            }
            
            @media screen and(max-width:$phone) {
                .wrapper {
                    margin: 0 auto;
                    padding: 0 10px;
                }
            }
            
            $arial: 'Arial';
            $georgia: 'Georgia';
            /*header*/
            
            @mixin navbar_font {
                font-family: 'Arial';
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #FAFAFA;
            }
            
            @mixin text_editing($color, $size, $family, $lheight, $weight) {
                color: $color;
                font-size: $size;
                font-family: $family;
                line-height: $lheight;
                font-weight: $weight;
            }
            
            @mixin listing_flex($pr: none) {
                display: flex;
                justify-content: $pr;
                align-items: center;
            }
            
            @mixin paragraph {
                font-family: 'Arial';
                font-size: 15px;
                line-height: 24px;
                font-weight: 400;
                color: #4C4C4C;
            }
            
            .header {
                width: 100%;
                height: 60px;
                padding-top: 60px;
            }
            
            .header__content {
                @include listing_flex(space-between);
                height: 60px;
                h1 {
                    @include text_editing(#F1CDB3, 32px, 'Georgia', 32.5px, 400);
                    padding: 0;
                    margin: 0;
                }
            }
            
            .logo {}
            
            .linkactive {
                border-bottom: 2px solid #F1CDB3;
                padding-bottom: 4px;
            }
            
            .logo__under {
                padding-top: 10px;
                font-size: 13px;
                font-family: $arial;
                line-height: 14px;
                color: white;
            }
            
            .header__logo {
                z-index: 1000;
            }
            
            .header__navbar {
                @include listing_flex();
                .navbar__item:not(:first-child) {
                    margin-left: 24px;
                }
                a {
                    @include navbar_font;
                    color: #CDCDCD;
                    cursor: pointer;
                }
            }
            
            .item__link:hover {
                color: white;
            }
            
            @media screen and (max-width:600px) {
                .header__navbar {
                    display: none;
                }
                .menu__burger.active {
                    transform: rotate(-90deg);
                    transition: 0.2s;
                }
                .menu__burger {
                    display: flex;
                    flex-direction: column;
                }
                .menu__burger {
                    margin-left: 43px;
                    width: 30px;
                    height: 22px;
                    cursor: pointer;
                    .line {
                        width: 30px;
                        height: 2px;
                        background-color: #F1CDB3;
                    }
                    .line:first-child {
                        margin-top: 1px;
                    }
                    .line:not(:first-child) {
                        margin-top: 8px;
                    }
                }
                .header__content {
                    justify-content: flex-start;
                }
            }
            /*main*/
            
            .main {
                width: 100%;
                height: 908px;
                background-image: url('assets/img/start-screen-gradient-background.png');
                background-size: cover;
                position: relative;
            }
            
            .main__container {
                display: grid;
                grid-template-columns: 50% 50%;
                padding-top: 50px;
            }
            
            .main__dog {
                width: 628px;
                height: 100%;
                display: flex;
                align-items: flex-end;
                img {
                    width: 628px;
                    height: 728px;
                }
                grid-row: 1/3;
                grid-column: 2/2;
            }
            
            html {
                overflow-x: hidden;
            }
            
            @media screen and(max-width:1240px) {
                .main__dog {
                    width: 500px;
                    height: 600px;
                    img {
                        width: 500px;
                        height: 600px;
                    }
                    margin-top: 68px;
                }
            }
            
            .main__info {
                padding-bottom: 80px;
                padding-top: 100px;
                max-width: 460px;
                h2 {
                    @include text_editing(white,
                    44px,
                    'Georgia',
                    52.5px,
                    400);
                    width: 310px;
                }
                grid-row: 1/2;
                grid-column: 1/1;
            }
            
            .main__txt {
                @include paragraph();
                color: #CDCDCD;
                padding-top: 20px;
            }
            
            @mixin btn {
                @include listing_flex(center);
                padding: 15px 45px;
                background-color: #F1CDB3;
                color: black;
                a {
                    font-size: 17px;
                    line-height: 22px;
                }
                border-radius: 100px;
                letter-spacing: 0.06em;
                cursor: pointer;
            }
            
            .main__btn {
                margin-top: 42px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #F1CDB3;
                width: 207px;
                height: 52px;
                border-radius: 20px;
                text-decoration: none;
                color: black;
                letter-spacing: 0.06em;
                font-size: 17px;
                line-height: 22px;
            }
            
            @media screen and (max-width:$tablet) {
                .main__container {
                    @include listing_flex(none);
                    flex-direction: column;
                    padding-top: 50px;
                }
                .main__dog__photo {
                    width: 569px;
                    height: 593px;
                }
                .main {
                    width: 100%;
                    height: fit-content;
                }
                .main__btn__cont {
                    display: flex;
                    justify-content: center;
                }
            }
            
            @media screen and (max-width:994px) {
                .main__container {
                    @include listing_flex(none);
                    flex-direction: column;
                    padding-top: 50px;
                }
                .main {
                    width: 100%;
                    height: fit-content;
                }
                .main__btn__cont {
                    display: flex;
                    justify-content: center;
                }
            }
            
            @media screen and(max-width:1240px) {
                .main__dog {
                    width: 500px;
                    height: 600px;
                    img {
                        width: 500px;
                        height: 600px;
                    }
                    margin-top: 68px;
                }
            }
            
            @media screen and (max-width:410px) {
                .main__info {
                    padding-bottom: 80px;
                    max-width: 460px;
                    h2 {
                        @include text_editing(white,
                        30px,
                        'Georgia',
                        40px,
                        400);
                        width: 310px;
                        padding-left: 10px;
                        text-align: center;
                    }
                }
                .main__txt {
                    @include paragraph();
                    color: #CDCDCD;
                    padding: 20px 5px 0 5px;
                    text-align: center;
                }
                .main__dog {
                    max-width: 250px;
                    max-height: 270px;
                    img {
                        max-width: 250px;
                        max-height: 270px;
                    }
                    margin-top: 68px;
                }
                .main__dog__photo {
                    width: 200px;
                    height: 210px;
                }
            }
            
            @media screen and(max-width:542px) {
                .main__dog {
                    width: 400px;
                    height: 450px;
                    img {
                        width: 400px;
                        height: 450px;
                    }
                }
            }
            /*ABOUT_BLOCK*/
            
            .about__block {
                width: 100%;
                position: relative;
                height: fit-content;
            }
            
            .about__container {
                padding-top: 80px;
                @include listing_flex(space-between);
                padding-bottom: 114px;
                height: fit-content;
            }
            
            .about__pets {
                width: 300px;
                height: fit-content;
                padding-left: 175px;
                img {
                    width: 300px;
                    height: 408px;
                }
            }
            
            .about__info {
                padding-right: 175px;
                max-width: 430px;
                height: fit-content;
            }
            
            @mixin title {
                font-size: 35px;
                line-height: 45.5px;
                font-family: 'Georgia';
                letter-spacing: 0.06em;
                color: #545454;
                font-weight: 400;
            }
            
            .about__title {
                @include title;
                padding: 0;
            }
            
            .about__txt {
                @include paragraph();
            }
            
            .about__txt__1 {}
            
            .about__txt__2 {
                margin-top: 25px;
            }
            
            @media screen and (max-width:$tablet) {
                .about__container {
                    padding-top: 80px;
                    @include listing_flex(space-between);
                    padding-bottom: 114px;
                    flex-direction: column-reverse;
                    align-items: center;
                }
                .about__pets {
                    width: 300px;
                    height: 408px;
                    padding-left: 0;
                    img {
                        width: 300px;
                        height: 408px;
                    }
                }
                .about__info {
                    padding-right: 0;
                    max-width: 430px;
                    height: 380px;
                    height: fit-content;
                }
            }
            
            @media screen and(max-width:410px) {
                .wrapper__about {
                    padding: 0 30px 0 0;
                    margin: 0;
                }
                .about__info {
                    padding-right: 20px;
                }
                .about__pets {
                    width: 250px;
                    height: 353px;
                    padding-left: 0;
                    padding-top: 42px;
                    img {
                        width: 260px;
                        height: 353.6px;
                    }
                }
                .about__txt {
                    @include paragraph();
                    padding: 0;
                    margin: 0;
                }
                .about__title {
                    @include title;
                    padding: 0;
                    font-size: 25px;
                    line-height: 32.5px;
                    text-align: center;
                }
            }
            
            @media screen and (max-width:1153px) {
                .about__info {
                    padding-right: 0;
                    padding-left: 60px;
                    max-width: 600px;
                    width: 600px;
                    height: 380px;
                    height: fit-content;
                }
                .about__pets {
                    width: 300px;
                    height: fit-content;
                    padding-left: 0px;
                    img {
                        width: 300px;
                        height: 408px;
                    }
                }
            }
            
            @media screen and (max-width:725px) {
                .about__info {
                    padding-right: 0;
                    padding-left: 60px;
                    max-width: 400px;
                    width: auto;
                    height: 380px;
                    height: fit-content;
                }
                .about__pets {
                    width: 300px;
                    height: fit-content;
                    padding-left: 0px;
                    img {
                        width: 300px;
                        height: 408px;
                    }
                }
            }
            
            @media screen and(max-width:918px) {
                .about__pets {
                    width: 250px;
                    height: 353px;
                    padding-left: 0;
                    padding-top: 42px;
                    img {
                        width: 260px;
                        height: 353.6px;
                    }
                }
                .about__txt {
                    @include paragraph();
                }
            }
            /*FRIENDS*/
            /*help*/
            
            .help {
                width: 100%;
                height: fit-content;
            }
            
            .help__container {
                margin: 80px 0;
            }
            
            .help__title__container {
                width: 100%;
                @include listing_flex(center);
                h4 {
                    @include title();
                    text-align: center;
                    width: 400px;
                }
            }
            
            .tools {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding-bottom: 100px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            
            .tools__1 {
                display: none;
            }
            
            .tool__6 {
                grid-column: 1/3;
                grid-row: end;
            }
            
            .tool__7 {
                grid-column: 2/4;
                grid-row: end;
            }
            
            .tool__8 {
                grid-column: 3/5;
                grid-row: end;
            }
            
            .tool__9 {
                grid-column: 4/-1;
                grid-row: end;
            }
            
            .tool {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .tool__1 {}
            
            .toolname {
                line-height: 23px;
                font-size: 20px;
                font-family: 'Georgia';
                letter-spacing: 0.06em;
                color: #545454;
                padding-top: 39px;
            }
            
            @media screen and(max-width:$tablet) {
                .tools {
                    display: none;
                }
                .tools__1 {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    padding-bottom: 80px;
                    grid-gap: 60px;
                }
            }
            
            @media screen and(max-width:641px) {
                .tools {
                    display: none;
                }
                .tools__1 {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    padding-bottom: 80px;
                    grid-gap: 60px;
                }
                .toolname {
                    font-size: 15px;
                    line-height: 15.5px;
                    width: 130px;
                    text-align: center;
                    padding-top: 10px;
                }
            }
            
            @media screen and(max-width:$phone) {
                .help__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .tools__1 {
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    margin-right: 20px;
                    padding-bottom: 20px;
                    img {
                        width: 45px;
                        height: 45px;
                    }
                    grid-gap: 20px;
                }
            }
            /*DONATIONS*/
            
            .donation {
                width: 100%;
                height: fit-content;
                background-color: #F6F6F6;
            }
            
            .donation__container {
                @include listing_flex(center);
                padding-top: 80px;
                padding-bottom: 110px;
            }
            
            .donation__image {
                padding-right: 30px;
                img {
                    width: 505px;
                    height: 261px;
                }
            }
            
            .donation__info {
                display: flex;
                flex-direction: column;
                max-width: 380px;
                height: 282px;
                font-family: 'Georgia';
                .donation__info__title {
                    box-sizing: content-box;
                    @include title();
                    padding: 0;
                }
                .intro__bank {
                    h5 {
                        font-size: 15px;
                        line-height: 16px;
                        color: #545454;
                        padding: 0;
                        padding-top: 20px;
                    }
                }
            }
            
            .card__container {
                @include listing_flex(space-between);
                max-height: 70px;
                align-items: center;
                max-width: 350px;
                padding: 0;
                margin: 0;
                height: 43px;
                border-radius: 9px;
                margin-top: 20px;
                .card__info {
                    font-size: 20px;
                    line-height: 23px;
                    color: #545454;
                    padding: 10px 15px 10px 0;
                    font-weight: 400;
                }
                img {
                    padding: 10px 15px;
                    width: 30px;
                    height: 23px;
                }
                background: #F1CDB3;
            }
            
            .donation__outro {
                padding-top: 20px;
                font-size: 12px;
                line-height: 18px;
                color: #B2B2B2;
            }
            
            @media screen and(max-width:$tablet) {
                .donation__container {
                    @include listing_flex(center);
                    padding-top: 80px;
                    padding-bottom: 110px;
                    flex-direction: column-reverse;
                }
                .donation__image {
                    padding-right: 30px;
                    padding-top: 60px;
                    img {
                        width: 505px;
                        height: 261px;
                    }
                }
            }
            
            @media screen and(max-width:548px) {
                .donation__image {
                    padding: 0;
                    margin: 0;
                    margin-top: 60px;
                    img {
                        width: 300px;
                        height: 198px;
                    }
                }
                .donation__outro {
                    text-align: center;
                }
            }
            
            @media screen and(max-width:937px) {
                .donation__container {
                    @include listing_flex(center);
                    padding-top: 80px;
                    padding-bottom: 110px;
                    flex-direction: column-reverse;
                }
                .donation__image {
                    padding-right: 30px;
                    padding-top: 30px;
                }
                .donation__info {
                    display: flex;
                    flex-direction: column;
                    max-width: 380px;
                    height: 282px;
                    font-family: 'Georgia';
                    .donation__info__title {
                        box-sizing: content-box;
                        @include title();
                        font-size: 35px;
                        padding: 0;
                        text-align: center;
                        padding-bottom: 20px;
                    }
                    .intro__bank {
                        font-size: 15px;
                        line-height: 16px;
                        color: #545454;
                        padding: 0;
                        padding-top: 20px;
                        text-align: center;
                    }
                }
            }
            
            @media screen and(max-width:$phone) {
                .donation__info__title {
                    box-sizing: content-box;
                    @include title();
                    padding: 0;
                    font-size: 25px;
                    line-height: 32px;
                    text-align: center;
                    width: 100%;
                }
                .intro__bank {
                    padding: 15px 0;
                }
                .donation__image {
                    padding-top: 30px;
                    img {
                        width: 260px;
                        height: 135px;
                    }
                }
                .card__container {
                    @include listing_flex(space-between);
                    max-height: 70px;
                    align-items: center;
                    max-width: 350px;
                    padding: 0;
                    margin: 0;
                    height: 43px;
                    border-radius: 9px;
                    margin-top: 20px;
                    .card__info {
                        font-size: 16px;
                        line-height: 23px;
                        color: #545454;
                        padding: 10px 15px 10px 0px;
                        font-weight: 400;
                    }
                    img {
                        padding: 10px 10px;
                        width: 30px;
                        height: 23px;
                    }
                    background: #F1CDB3;
                }
            }
            
            .button__double__back {}
            
            .button__single__back {}
            
            .current__page {}
            
            .button__single__forward {}
            
            .button__double__forward {}
            /*FOOTER*/
            
            .footer {
                width: 100%;
                height: fit-content;
                background-image: url('assets/img/footer-gradient-background.png');
                background-size: cover;
            }
            
            .footer__container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
            .footer__contacts {
                grid-column: 1/2;
                img {
                    width: 42px;
                    height: 30px;
                }
                width: 280px;
                h3 {
                    @include title();
                    color: white;
                }
            }
            
            .contacts__el {
                @include listing_flex();
                div {
                    @include listing_flex();
                    color: #F1CDB3;
                    font-size: 20px;
                    font-family: 'Georgia';
                    line-height: 23px;
                    padding: 0 27px;
                }
            }
            
            .footer__location {
                grid-column: 2/2;
            }
            
            .location__info__2 {
                @include listing_flex(none);
                img {
                    max-width: 21px;
                    height: 30px;
                }
            }
            
            .contacts__el:not(:first-child) {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            
            .footer__location {
                width: 302px;
                h3 {
                    @include title();
                    color: white;
                }
            }
            
            .footer__dog {
                width: 300px;
                height: 310px;
                margin-top: 20px;
                grid-column: 3/-1;
            }
            
            @media screen and(max-width:989px) {
                .footer__container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
                .footer__dog {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding-top: 11px;
                    margin-top: 0;
                    height: 310px;
                    img {
                        width: 300px;
                        height: 310px;
                    }
                    grid-column-start: 1;
                    grid-column-end: -1;
                    grid-row-start: 2;
                    grid-row-end: 2;
                }
            }
            
            @media screen and(max-width:679px) {
                .footer__container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                }
                .contacts__el {
                    justify-items: center;
                }
                .footer__contacts {
                    margin: 0 auto;
                }
                .footer__location {
                    grid-column: 1/1;
                    grid-row: 2/2;
                    margin: 0 auto;
                }
                .footer__dog {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 300px;
                        height: 310px;
                    }
                    grid-column-start: 0;
                    grid-column-end: -1;
                    grid-row-start: 3;
                    grid-row-end: -1;
                }
            }